html {
  font-size: 14px;
}

// body {
//   background-color: var(--nb-color-body-bg);
//   display: flex;
//   color: var(--nb-color-body-text);
//   flex-direction: column;
//   font-size: var(--nb-body-font-size);
//   margin: 0 auto;
//   // max-width: 1200px;
//   --nb-body-font-size: 1.9rem;
  

//   &-fixed {
//     .section-header {
//       position: fixed;
//     }
//   }


// }

body {
  // background-color: #000;
  font-family: 'Lexend', sans-serif;
}
main {
  background-color: #FFF;
}


.container {
  max-width: 1200px;
}

#content-container {
  background-color: #FFF;
}


// .section {
//   width: 100vw;
//   &-header {
//     background-color: var(--lem-default-blue);
//   }

// }


p {
  font-size: 1rem;
  b,
  strong {
    font-weight: bold;
  }
}

strong {
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
}
