
// :root {
//   --nb-breakpoint-sm: 576px;
//   --nb-breakpoint-md: 768px;
//   --nb-breakpoint-lg: 992px;
//   --nb-breakpoint-xl: 1200px;
//   --nb-breakpoint-xxl: 1400px;
// }


// $breakpoint-xxl: 1400px;



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 960px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}
