@import "./breakpoints.scss";

.footer {
  background-color: #000;
  @include md {
    padding: 24px 12px 32px;
  }

  &-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    .footer {
      &-logo {
        width: 200px;
      }
    }

    @include md {
      flex-direction: row;
      align-items: end;
    }
  }

  &-container--navs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    .information-menu {
      width: 100%;
    }

    @include lg {
      flex-direction: row;
      nav {
        margin: 24px 12px 0;
        padding: 0px 36px 0px 24px;
        border-right: 1px dashed #fff;
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .menu-item {
    a {
      color: #c3c3c3;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 1.3px;
    }

    .sub-menu {
      margin-bottom: 12px;
      .menu-item {
        a {
          font-size: 1.2rem;
          &:before {
            content: "- ";
          }
        }
      }
    }
  }
}
