.form {
  &-container {
    border: 1px solid var(--color-text);
    margin: 5rem auto;
    max-width: 1000px;
    padding: 2rem;

    h2 {
      font-family: "Glamoure Everyday", sans-serif;
      color: var(--color-text);
      margin: 1rem 0 0;
      padding: 0;
      text-align: center;
      font-size: 4rem;
      line-height: 1.2;
    }

    .form-button {
      display: block;
      border: none;
      font-family: "Glamoure Everyday", sans-serif;
      background-color: var(--color-text);
      color: #fff;
      font-size: 2rem;
      padding: 8px 20px;
      float: right;
    }
  }

  &-line {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }

    &.col {
      &-1 {
        div {
          width: 100%;
        }
      }
      &-2 {
        div {
          width: 100%;
        }
        @include lg {
          div {
            width: 50%;
          }
        }
      }
    }

    label,
    textarea,
    input[type="email"],
    input[type="tel"],
    input[type="text"] {
      width: 100%;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
    }
    input {
      border: none;
      border-bottom: 1px solid grey;
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
.wpcf7-response-output {
  background-color: var(--color-text);
  color: #fff;
  padding: 3rem;
}

// .wpcf7-response-output {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: #fff;
//   padding: 4rem !important;
//   border-radius: 1rem;
//   z-index: 2;
//   &:after {
//     content: "";
//     display: block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 1;
//   }
// }
