@import "./breakpoints.scss";

@keyframes scrolldown {
  from {
    top: calc(0px - var(--header-h))
  }

  to {
    top: 0;
  }
}

@keyframes scrollup {
  from {
    top: 0;
  }
  to {
    top: calc(0px - var(--header-h));
  }
}

:root {
  --header-h-lg: 100px;
  --header-h-md: 80px;
  --header-h-sm: 60px;

  --header-h: 70px;

  --bg-header: var(--lem-default-blue)
}



@include md {
  :root {
  --header-h: var(--header-h-sm);
  }
}

@include lg {
  :root {
  --header-h: var(--header-h-md);
  }
}

@include xl {
  :root {
  --header-h: 100px;
  }
}



body {
  margin-top: var(--header-h);
  &.scrolled {
    .section-header {
      position: fixed;

      animation-name: scrolldown;
      animation-duration: .4s;
     
    }
  }

  &.scrolled-up {
    .section-header {
      position: fixed;
      animation-name: scrollup;
      animation-duration: .4s;
      top: calc(0px - var(--header-h))
    }
  }
}


.section {
  &-header {
    max-width: 100vw;
    position: absolute;
    top: 0;
    z-index: 99;
  }
}


.header {
  min-height: var(--header-h);
  width: 100vw;
  
  &.default {
    background-color: var(--bg-header);
  }


  &-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    .menu {
      display: contents;
    }
    .menu-header-container  {
      box-sizing: border-box;
      height: calc( 100dvh - var(--header-h));
      padding: 20px;

      @include md {
        display: contents;
        position: relative;
        height: auto;
      }

      display: block;
      position: absolute;
      top: var(--header-h);
      left: -150vw;
      transition: left .3s;
      width: 100vw;
      background-color: var(--lem-default-blue);
      
      &.open {
        left: 0;
        transition: left .3s;
      }
     
    }
    .menu {
      .menu-item {
        color: #FFF;
        font-size: 0rem;
        font-family: 'Glamoure Everyday', sans-serif;
        line-height: 1.5em;
        font-size: 1.5rem;
        padding: 0 6px;
        @include sm {
          font-size: 1.1rem;
          padding: 0 3px;
        }
        @include md {
          font-size: 1.2rem;
          padding: 0 6px;
        }
        @include lg{
          font-size: 1.6rem;
          padding: 0 12px;
        }
        @include xl{
          font-size: 2rem;
          padding: 0 25px;
        }

        &:not(.current-menu-item) {
          a {
            color: #FFF;
          }
        }
        .sub-menu {
          padding-left: 20px;
          .menu-item {

            font-family: Arial, Helvetica, sans-serif;
            font-size: .8em;
            &:before {
              content: '>';
              display: inline;
              margin-right: 6px;
            }
          }
        }
        &.current-menu-ancestor, 
        &.current-menu-item {
          a { color: #000; }
          .sub-menu {
            .menu-item.current-menu-item {
              color: #000;
              a { color: #000; }
            }
            .menu-item:not(.current-menu-item ) {
              color: #FFF;
              a { color: #FFF; }
            }
          }
        }
        // &.current-menu-item {
        //   border: 1px solid green;
        //   a { color: #000 !important; }
        // }
      }
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    position: relative;

    @include md {
      justify-content: start;
    }
   
  }

  .burger {
    cursor: pointer;
    display: block;
    position: absolute;
    height: calc(var(--header-h) - 10px);
    right: 5px;
    top: 5px;
    width: calc(var(--header-h) - 10px);
    background: none;
    border: none;
    span {
      background-color: #FFF;
      display: block;
      height: 6px;
      width: 60%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all .2s;
      &:nth-of-type(1) {
        top: 20%;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-of-type(3) {
        bottom: 20%;
      }
    }
    @include md {
      display: none;
    }

  }
  
  &.menu-open {
    .burger {
      span {
        transition: all .3s;
        &:nth-of-type(1) {
          transform: rotate(-45deg) translateX(-48%) translateY(7px);
          top: 21%;
          left: 35%;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(45deg) translateX(-48%) translateY(7px);
          top: 61%;
          left: 50%;
        }
      }
    }
    .header-container {
      .menu-header-container {
        left: 0;
        -webkit-box-shadow: inset 0px 11px 14px -11px rgba(0,0,0,0.61); 
        box-shadow: inset 0px 11px 14px -11px rgba(0,0,0,0.61);
      }
    }
  }


  .logo {
    background-image: url('./assets/images/VLM_logo_blanc.svg');
    background-position: center center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    font-size: 0;
    min-width: 150px;
    position: relative;
    height: 70px;
    width: calc(70px * 2.2);
    transition: all .3s;
    &:after {
      content: '';
      position: absolute;
      height: 70%;
      width: 1px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-right: 2px dotted #FFF;
    }
  }

  @include md {
    min-height: var(--header-h);
    .logo {
      height: 100px;
      width: calc(100px * 2.2);
      background-size: 80% auto;
    }
    .menu {
      .menu-item {
        // font-size: 2rem;
       
        position: relative;
        cursor: pointer;
        .sub-menu {
          display: none;
        }
      }
      .menu-item:hover {
        .sub-menu {
          background-color: var(--bg-header);
          display: flex;
          position: absolute;
          // padding: 8px 15px;
          top: 100%; 
          left: 25px;
          border: 1px solid #000;
          flex-direction: column;
          transition: opacity 2s;
          .menu-item {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: .7em;
            padding: 12px 12px 12px 8px;
            a {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

body {
  &.menu-open {
    overflow: hidden;
  }
}
