@import "./breakpoints.scss";

.page {
  &-header {
    overflow: hidden;
    position: relative;
    height: 50vh;
    .image-header {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .weaver {
      bottom: -9px;
      left: 50%;
      width: 100vw;
      max-width: 1200px;
      min-width: 600px;
      position: absolute;
      transform: translateX(-50%);
    }
    @include md {
      height: 80vh;
    }

    h1.page-title {
      border-top: 2px dashed #fff;
      color: #fff;
      font-family: "Glamoure Everyday", sans-serif;
      font-weight: 100;
      font-size: 3rem;
      letter-spacing: 2px;
      margin-top: 1.2rem;
      padding-top: 1.6rem;

      @include md {
        font-size: 5.2rem;
      }
    }
  }

  &-content {
    padding-top: 50px;
    h2,
    h2.page-title {
      color: #000;
      font-family: "Lexend", sans-serif;
      font-weight: 100;
      font-size: 2rem;
      line-height: 1.5;
      strong {
        font-weight: 500;
      }

      @include md {
        font-size: 2.28rem;
      }
    }
  }
}

.content-container {
  background: transparent;
  height: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  width: calc(100vw - 20px);

  &.top-page {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .logo-container {
      position: absolute;
      left: 0;
      max-width: 470px;
      top: 50%;
      transform: translateY(-50%);
      width: 70vw;
      .logo-text {
        width: 100%;
      }
    }
  }
}
