@import "./breakpoints.scss";

.page {
  &-header {
    overflow: hidden;
    position: relative;
    height: 50vh;
    .image-header {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .weaver {
      bottom: -9px;
      left: 50%;
      width: 100vw;
      max-width: 1200px;
      min-width: 600px;
      position: absolute;
      transform: translateX(-50%);
    }
    @include md {
      height: 60vh;
    }

    h1.page-title {
      border-top: 2px dashed #fff;
      color: #fff;
      font-family: "Glamoure Everyday", sans-serif;
      font-weight: 100;
      font-size: 3rem;
      letter-spacing: 2px;
      margin-top: 1.2rem;
      padding-top: 1.6rem;

      @include md {
        font-size: 5.2rem;
      }
    }
  }

  &-content {
    padding-top: 50px;
    h2,
    h2.page-title {
      color: #000;
      font-family: "Lexend", sans-serif;
      font-weight: 100;
      font-size: 2rem;
      line-height: 1.5;
      strong {
        font-weight: 500;
      }

      @include md {
        font-size: 2.28rem;
      }
    }
  }
}

.content-container {
  background: transparent;
  height: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  width: calc(100vw - 20px);

  &.top-page {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .logo-container {
      position: absolute;
      left: 0;
      max-width: 470px;
      top: 50%;
      transform: translateY(-50%);
      width: 70vw;
      .logo-text {
        width: 100%;
      }
    }
  }
}

///// HOMEPAGE
.carousel-travels-title {
  text-align: center;
  width: auto;
  margin: auto;
  // --color-text: red;

  h2 {
    font-family: "Glamoure Everyday", sans-serif;
    color: var(--color-text);
    margin: 1rem 0 0;
    padding: 0;
    font-size: 4rem;
  }
  h3 {
    font-family: "Lexend", sans-serif;
    color: var(--color-text);
    border-top: 1px dashed var(--color-text);
    width: fit-content;
    margin: auto;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    strong {
      font-weight: 500;
    }
  }
}

.carousel-generic {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: scroll;
  width: 100vw;
  scroll-snap-type: x mandatory;
  @include lg {
    width: calc(100% - 54px);
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &--container {
    display: flex;
    margin: 4rem auto 8rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @include lg {
      flex-direction: row;
      align-items: unset;
      width: unset;
    }

    .--next-link {
      color: var(--color-text);
      display: flex;
      flex-direction: row-reverse;
      font-size: 1.2rem;
      margin-top: 3rem;
      padding: 1rem 1.2rem;
      top: 0;
      border: 2px solid var(--color-text);
      text-align: center;
      @include lg {
        flex-direction: column;
        width: 54px;
        border: none;
        font-size: 1rem;
      }

      &:hover {
        cursor: pointer;
        .--next-link--arrow {
          @include lg {
            svg {
              margin-left: 55%;
              width: 50%;
              transition: all 0.2s;
            }
          }
        }
      }
      .--next-link--arrow {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-left: 12px;
          width: 12px;
        }
        .svg-carousel-arrow {
          fill: var(--color-text);
          stroke-width: 0px;
        }

        @include lg {
          border: 2px solid var(--color-text);
          height: 65%;
          svg {
            margin-left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s;
            width: 50%;
          }
        }
      }
      .--next-link--text {
        align-items: center;
        display: flex;
        height: 35%;
        line-height: 1.2;
      }
    }
  }
  &--item {
    align-items: center;
    border-right: 1px dashed #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    width: calc(100% / 1.5);
    min-width: calc(100% / 1.5);

    scroll-snap-align: center;

    .--vignette {
      width: 50%;
    }
    .--title {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 4rem;
    }
    .--subtitle {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 0.6px;
    }
    .--discount {
      background-color: var(--color-bg);
      color: var(--color-text);
      font-weight: 600;
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      border-bottom: 1px dashed var(--border-color);
    }

    &:last-child {
      border: none;
    }

    @include md {
      width: calc(100% / 3);
      min-width: calc(100% / 3);
    }
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 2rem auto 3rem;
}

//// pages liste de categories des voyages
.types-list {
  display: flex;
  flex-wrap: wrap;
}

.type-card {
  width: calc(100% / 3);
  &--vignette {
    width: 50%;
    height: auto;
  }
}
