@import "./breakpoints.scss";

p {
  & + ul {
    li {
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 300;
      padding-left: 12px;
      list-style: disc;
      list-style-position: outside;
      margin-left: 24px;
      a {
        color: #499ea8;
      }
    }
  }

  a {
    color: #499ea8;
  }
}

.page {
  &-header {
    overflow: hidden;
    position: relative;
    height: 50vh;
    background-color: var(--bg-header);
    &--small {
      height: 50px;
    }
    .image-header {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .weaver {
      bottom: -9px;
      left: 50%;
      width: 100vw;
      max-width: 1200px;
      min-width: 600px;
      position: absolute;
      transform: translateX(-50%);
    }
    @include md {
      height: 40vh;
      &--hight {
        height: 60vh;
      }
      &--small {
        height: 100px;
      }
    }

    h1.page-title {
      border-top: 2px dashed #fff;
      color: #fff;
      font-family: "Glamoure Everyday", sans-serif;
      font-weight: 100;
      font-size: 3rem;
      letter-spacing: 2px;
      margin-top: 1.2rem;
      padding-top: 1.6rem;
      &.--small {
        font-size: 2.5rem;
      }

      @include md {
        font-size: 5.2rem;
        &.--small {
          font-size: 4rem;
        }
      }
    }
  }

  &-content {
    box-sizing: border-box;
    padding-top: 50px;

    &--mentions {
      padding: 50px 20px;
      @include lg {
        padding: 50px 0;
      }
    }

    h2,
    h2.page-title {
      color: #000;
      font-family: "Lexend", sans-serif;
      font-weight: 100;
      font-size: 2rem;
      line-height: 1.5;
      strong {
        font-weight: 500;
      }

      @include md {
        font-size: 2.28rem;
      }
    }
  }
}

.content-container {
  background: transparent;
  // height: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;

  width: 100%;
  @include lg {
    width: calc(100vw - 20px);
  }

  &.top-page {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .logo-container {
      position: absolute;
      left: 0;
      max-width: 470px;
      top: 50%;
      transform: translateY(-50%);
      width: 70vw;
      .logo-text {
        width: 100%;
      }
    }
  }
}

///// HOMEPAGE
.carousel-travels-title {
  text-align: center;
  width: auto;
  // --color-text: red;

  h2 {
    font-family: "Glamoure Everyday", sans-serif;
    color: var(--color-text);
    margin: 1rem 0 0;
    padding: 0;
    font-size: 4rem;
    line-height: 1.2;
  }
  h3 {
    font-family: "Lexend", sans-serif;
    color: var(--color-text);
    border-top: 1px dashed var(--color-text);
    width: fit-content;
    margin: auto;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    strong {
      font-weight: 500;
    }
  }
}

.carousel-generic {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: scroll;
  width: 100vw;
  scroll-snap-type: x mandatory;
  @include lg {
    width: calc(100% - 54px);
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &--container {
    display: flex;
    margin: 2rem auto 4rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @include lg {
      flex-direction: row;
      align-items: unset;
      width: unset;
    }

    .--next-link {
      color: var(--color-text);
      display: flex;
      flex-direction: row-reverse;
      font-size: 1.2rem;
      margin-top: 3rem;
      padding: 1rem 1.2rem;
      top: 0;
      border: 2px solid var(--color-text);
      text-align: center;
      @include lg {
        flex-direction: column;
        width: 54px;
        border: none;
        font-size: 1rem;
        padding: 0;
        margin-top: 0;
      }

      &:hover {
        cursor: pointer;
        .--next-link--arrow {
          @include lg {
            svg {
              margin-left: 55%;
              width: 50%;
              transition: all 0.2s;
            }
          }
        }
      }
      .--next-link--arrow {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-left: 12px;
          width: 12px;
        }
        .svg-carousel-arrow {
          fill: var(--color-text);
          stroke-width: 0px;
        }

        @include lg {
          border: 2px solid var(--color-text);
          height: 65%;
          svg {
            margin-left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s;
            width: 50%;
          }
        }
      }
      .--next-link--text {
        align-items: center;
        display: flex;
        height: 35%;
        line-height: 1.2;
      }
    }
  }
  &--item {
    align-items: center;
    border-right: 1px dashed #c6c6c6;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    text-align: center;
    width: calc(100% / 1.5);
    min-width: calc(100% / 1.5);

    scroll-snap-align: center;

    .--vignette {
      width: 50%;
    }
    .--title {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 4rem;
    }
    .--subtitle {
      font-size: 1rem;
      line-height: 1.5;
      min-height: 3rem;
      font-weight: 200;
      letter-spacing: 0.6px;
    }
    .--discount {
      align-items: center;
      background-color: var(--color-bg);
      color: var(--color-text);
      display: flex;
      font-weight: 600;
      margin-top: 1rem;
      min-height: 21px;
      padding: 0.4rem 0.4rem;
      border-bottom: 1px dashed var(--border-color);
      font-size: 1.2rem;
    }
    .--price {
      color: var(--red);
      font-size: 1.5rem;
      font-weight: 600;
      border-top: 1px dashed var(--red);
      border-bottom: 1px dashed var(--red);
      padding: 6px;
    }
    .--note {
      color: #000;
      font-size: 1.2rem;
      margin-top: 1rem;
      padding: 0.4rem 0;
      &-date {
        font-weight: 600;
        line-height: 1.5;
      }
    }

    &:last-child {
      border: none;
    }

    @include md {
      width: calc(100% / 3);
      min-width: calc(100% / 3);
      // justify-content: flex-start;
    }
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 2rem auto 3rem;
}

//// pages liste de categories des voyages
.types-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include md {
    justify-content: flex-start;
  }
}
a.type-card {
  color: #000;
  &:visited {
    color: #000;
  }
}
.type-card {
  margin-top: 24px;
  width: 80vw;
  color: #000;
  &--vignette {
    text-align: center;
    img {
      width: 70%;
      height: auto;
      @include md {
        width: 50%;
      }
    }
  }
  &--description {
    h3 {
      text-align: center;
      font-size: 1.6rem;
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      max-width: 250px;
      margin: 24px auto;
    }
  }

  @include md {
    width: calc(100% / 2);
  }

  @include lg {
    width: calc(100% / 3);
  }
}

//// pages liste des destinations
.travel-list {
  @extend .types-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include md {
    justify-content: flex-start;
  }
}
.travel-card {
  // @extend .type-card;
  // text-align: center;
  // align-items: center;
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  box-sizing: border-box;
  padding: 0 1rem;
  text-align: center;

  @include md {
    border-right: 1px dashed #c6c6c6;
    &:nth-child(2n) {
      border: none;
    }
  }

  @include lg {
    border-right: 1px dashed #c6c6c6;
    &:nth-child(2n) {
      border-right: 1px dashed #c6c6c6;
    }
    &:nth-child(3n) {
      border: none;
    }
  }
  &:last-child {
    border: none;
  }
  &--vignette {
    text-align: center;
    img {
      width: 70%;
      height: auto;
      @include md {
        width: 50%;
      }
    }
  }
  &--description {
    h3 {
      text-align: center;
      font-size: 1.6rem;
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      max-width: 250px;
      margin: 24px auto;
    }
  }

  .--title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4rem;
    margin-bottom: 0;
  }
  .--subtitle {
    font-size: 1rem;
    line-height: 1.5;
    min-height: 3rem;
    font-weight: 200;
    letter-spacing: 0.6px;
  }
  .--discount {
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    font-weight: 600;
    margin-top: 1rem;
    min-height: 21px;
    padding: 0.2rem 0.4rem;
    border-bottom: 1px dashed var(--border-color);
  }
  .--price {
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 600;
    border-top: 1px dashed var(--red);
    border-bottom: 1px dashed var(--red);
    padding: 6px;
  }
  .--note {
    color: #000;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem 0;
    &-date {
      font-weight: 600;
      line-height: 1.5;
    }
  }

  @include md {
    width: calc(100% / 2);
  }

  @include lg {
    width: calc(100% / 3);
  }
}

.section-mentions {
  background-color: rgb(117, 68, 187);
  padding-bottom: 3rem;
  text-align: justify;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;

  width: 100vw;
  margin-left: -20px;
  @include lg {
    width: unset;
    margin-left: unset;
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 colonnes de taille égale */
  gap: 12px; /* espace entre les éléments */
  padding-top: 200px;
  margin-top: 5rem !important;

  @include md {
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes de taille égale */
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
  }

  --border-color: #7d41c2;

  .wp-block-create-block-travel-card-block {
    border-radius: 12px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // max-width: calc((100% / 3) - 12px);
    // min-width: calc((100% / 3) - 12px);
    text-align: center;
    padding: 24px 6px;
    img {
      width: 75%;
      height: auto;
      margin: 0 auto 24px;
    }
    h2 {
      font-family: "Glamoure Everyday", sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1;
      margin-top: 12px;
    }
    p {
      font-family: "Lexend", sans-serif;
      font-size: 1.3rem;
      line-height: 1.3;
      padding-left: 12px;
      padding-right: 12px;
      strong {
        font-size: 1.5rem;
        margin-bottom: 12px;
        display: inline-block;
      }
    }

    @include lg {
      // &:nth-child(3n) {
      //   transform: translateY(100px);
      // }
      // &:nth-child(3n + 1) {
      //   transform: translateY(100px);
      // }
      &:nth-child(3n + 1) {
        transform: translateY(-100px);
      }
      &:nth-child(3n + 2) {
        transform: translateY(-200px);
      }
      &:nth-child(3n) {
        transform: translateY(-50px);
      }
    }
  }
}

.pages-type-title-block {
  margin-bottom: 5rem;
}

.catalog {
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // grid-template-columns: repeat(1, 1fr); /* 3 colonnes de taille égale */
    // @include md {
    //   grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
    // }
    // @include lg {
    //   grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    // }
    @include md {
      flex-direction: row;
    }
  }
  &-item {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    // justify-content:;
    a {
      text-align: center;
      color: rgb(87, 87, 85);
    }
    p {
      padding: 1rem;
      font-size: 2.5rem;
      font-family: "Lexend", sans-serif;
      font-weight: 500;
    }
    @include md {
      border-right: 1px dashed #c3c3c3;
      margin: 4rem 0;
      &:nth-child(2n) {
        border: none;
      }
      width: 32%;
    }

    @include lg {
      // width: 32%;
      border-right: 1px dashed #c3c3c3;
      &:nth-child(2n) {
        border-right: 1px dashed #c3c3c3;
      }
      &:nth-child(3n) {
        border: none;
      }
    }

    &:last-child {
      border: none;
    }
  }
  &-vignette {
    width: 90%;
  }
  &-libelle {
  }
}

.image-block-subtitle-page {
  border-top: 1px dashed var(--color-text);
  max-width: 800px;
  margin: auto;
  &--image {
    max-width: 400px;
  }
}

.travel-agences-link {
  border: 2px solid #7d41c2;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  .arrow {
    width: 12%;
    margin: 1rem auto;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
