@import "./breakpoints.scss";

.section {
  width: 100vw;
  max-width: 100vw;
  margin: auto;
  &-footer {
    width: 100%;
    &--catalogs {
      background-color: #7d41c2;
      padding: 4rem 0.5rem 6rem;
      display: flex;
      justify-content: center;
      margin-top: 10rem;
      .footer-catalogs--list {
        li {
          padding: 12px 0;
        }
        a {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 200;
          letter-spacing: 0.8px;
          strong {
            font-weight: 500;
          }
          &:hover {
            // text-decoration: underline;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            .underline {
              border: none;
            }
          }
          .underline {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          @include lg {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
.footer-logo-cata-container {
  width: unset;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

@include lg {
  .section {
    max-width: 1400px;
    &.section-full {
      max-width: 100vw;
    }
  }
}

.full-vw-width {
  width: 100vw;
}

.max-width-lg {
  max-width: 1400px;
}
.text-center {
  text-align: center;
}
