.section-header-fiche {
  max-width: 1200px;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 100px;
}
.travel-sheet {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;

  @include lg {
    flex-direction: row;
  }

  .travel-title {
    font-family: "Glamoure Everyday", sans-serif;
    letter-spacing: 1;
    font-size: 5rem;
    color: var(--bg-color);
    border-bottom: 1px dashed var(--bg-color);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  &-left,
  &-right {
    width: 100%;
    margin-bottom: 3rem;
  }

  &-left {
    align-items: center;
    display: flex;
    background-color: var(--bg-color);
    // border: 1px solid blue;
    box-sizing: border-box;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    flex-direction: column;
    height: fit-content;
    min-height: 200px;
    padding: 2rem 1.2rem 5rem;

    @include lg {
      width: 22%;
    }

    .--discount {
      align-items: center;
      background-color: var(--color-bg);
      color: var(--color-text);
      display: flex;
      font-weight: 600;
      margin-top: 1rem;
      min-height: 21px;
      padding: 0.2rem 0.4rem;
      border-bottom: 1px dashed var(--border-color);
    }
    .--subtitle {
      border-bottom: 1px dashed #fff;
      color: #fff;
      font-family: "Glamoure Everyday", sans-serif;
      font-size: 3rem;
      margin: 2rem 0;
      padding: 1rem 0;
    }
    .--date {
      color: #fff;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.2;
      width: 100%;
    }
    .--price {
      color: #fff;
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 1.2;
      margin: 0.5rem 0;
      width: 100%;
      small {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  &-right {
    box-sizing: border-box;
    padding-left: 24px;

    @include lg {
      width: 78%;
    }

    h2 {
      color: var(--bg-color);
      font-weight: 300;
    }
  }
}

.travel_card {
  border: 1px solid black;
  padding: 12px;
}
