.main {
  // padding: 0 20px;
  padding: 0;
  @include lg {
    padding: 0;
  }
  & > .section {
    width: 100%;
  }
}

.section-header-fiche {
  border-top-left-radius: 200px;
  border-bottom-right-radius: 100px;
  max-width: calc(100vw - 20px);
  padding: 0;
  @include lg {
    max-width: 1200px;
  }
}
.travel-sheet {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  @include lg {
    flex-direction: row;
  }

  .travel-title {
    font-family: "Glamoure Everyday", sans-serif;
    letter-spacing: 1;
    font-size: 5rem;
    font-weight: 300;
    color: var(--bg-color);
    border-bottom: 1px dashed var(--bg-color);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  &-left,
  &-right {
    width: 100%;
    margin-bottom: 3rem;
  }

  &-left {
    align-items: start;
    display: flex;

    // border: 1px solid blue;
    box-sizing: border-box;

    flex-direction: column;
    height: fit-content;
    min-height: 200px;

    &--inner {
      background-color: var(--bg-color);
      border-top-right-radius: 80px;
      border-bottom-left-radius: 80px;
      box-sizing: border-box;
      padding: 2rem 1.2rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    @include lg {
      width: 22%;
      position: sticky;
      top: 100px;
    }
    .--discount {
      align-items: center;
      background-color: var(--color-bg);
      color: var(--color-text);
      display: flex;
      font-weight: 600;
      margin-top: 1rem;
      min-height: 21px;
      padding: 0.2rem 0.4rem;
      border-bottom: 1px dashed var(--border-color);
    }
    .--during-text {
      color: #fff;
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
    }
    .--subtitle {
      border-bottom: 1px dashed #fff;
      color: #fff;
      font-family: "Glamoure Everyday", sans-serif;
      font-size: 3rem;
      // margin: 2rem 0 0;
      padding: 1rem 0;
      width: 100%;
    }

    .--date-box {
      width: 100%;
      border-bottom: 1px dashed #fff;
      padding: 1rem 0;
    }

    .--date {
      color: #fff;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.2;
      width: 100%;
    }
    .--price {
      color: #fff;
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 1.2;
      margin: 0.5rem 0;
      width: 100%;
      small {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .--plus-box {
      border-bottom: 1px dashed #fff;
      color: #fff;
      padding: 1rem 0;
      width: 100%;
      &--title {
        align-items: center;
        font-size: 2rem;
        font-family: "Glamoure Everyday", sans-serif;
        padding: 0.2rem 0;
        display: flex;
        &::after {
          display: inline-block;
          content: "VLM";
          font-size: 0;
          background-image: url("./assets/images/VLM_logo_blanc.svg");
          width: 107px;
          height: 49px;
        }
      }

      &--text {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }
  }
  &-right {
    box-sizing: border-box;
    padding: 0 20px;
    @include lg {
      padding: 0 0 0 24px;
      width: 78%;
    }

    h2 {
      color: var(--bg-color);
      font-weight: 300;
      margin-bottom: 0;
      padding-bottom: 0;

      & + p {
        margin-top: 0;
      }
    }
  }
}

.travel_card {
  border: 1px solid black;
  padding: 12px;
}
.download-sheet-pdf {
  width: 90px;
  height: auto;
  margin: auto;
  &--linkbox {
    margin: 5rem auto;
    width: 100%;
    text-align: center;
    img {
      margin-bottom: 0.6rem;
    }
    a {
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: "Lexend", sans-serif;
      color: rgb(117, 68, 187);
    }
  }
}
