
  
:root {
   --nb-color-header-bg: black;
   --nb-color-header-text: white;
   --nb-color-body-bg: rgba(0, 0, 0, 0.25);
   --nb-color-body-text: rgba(0, 0, 0, 0.75);
   --nb-color-footer-bg: black;
   --nb-color-footer-text: white;
   --nb-natural-padding: 1rem 3rem;


   /* lemonnier colors */
  --lem-default-blue: #499ea8;


  /*  end lemonnier colors */
}
